.header {
	display: flex;
	padding: 15px 10px 30px 10px;
	gap: 20px;
	align-items: center;
	position: fixed;
	background-color: white;
	right: 0;
	left: 0;
}

.starbucksIcon {
	margin-right: 15px;
	margin-left: 10px;
	align-self: center;
	width: 47px;
	height: auto;
}

.starbucksIcon:hover {
	cursor: pointer;
}

.headerButtons {
	background-color: transparent;
	color: #333537;
	font-weight: 790;
	font-size: 14px;
	border-style: none;
	padding: 0px;
	transition: 0.3s;
}

.headerButtons:hover {
	opacity: 0.5;
	cursor: pointer;
}

.optionsButton {
	background-image: url(../images/menuIcon.svg);
	background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
	border-style: none;
	padding: 15px 13px;
	margin-left: auto;
	margin-right: 25px;
}

.optionsButton:hover {
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.header {
		display: none;
	}
}
